# –––––––––––––––– REQUIRED ––––––––––––––––

NODE_ENV=production

# Generate a hex-encoded 32-byte random key. You should use `openssl rand -hex 32`
# in your terminal to generate a random value.
SECRET_KEY=replace_with_your_secret_key

# Generate a unique random key. The format is not important but you could still use
# `openssl rand -hex 32` in your terminal to produce this.
UTILS_SECRET=replace_with_your_utils_secret

# Database configuration
DATABASE_URL=postgres://user:pass@outline-postgres-1:5432/outline
PGSSLMODE=disable

# Redis configuration
REDIS_URL=redis://outline-redis-1:6379

# URL configuration
URL=http://localhost:3000
PORT=3000

# File storage configuration
FILE_STORAGE=local
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
FILE_STORAGE_UPLOAD_MAX_SIZE=262144000

# Google OAuth Configuration
# Get these values from Google Cloud Console
GOOGLE_CLIENT_ID=your_client_id_here
GOOGLE_CLIENT_SECRET=your_client_secret_here

# Optional Settings
FORCE_HTTPS=false
WEB_CONCURRENCY=2
DEBUG=http
LOG_LEVEL=info
DEFAULT_LANGUAGE=en_US 